body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 100% min(25rem, 100%);
  overflow: hidden;
  height: 100%;

  .content {
    height: 100%;
    overflow-y: hidden;

    .products {
      height: 100%;
      display: grid;
      grid-template-areas:
        "a"
        "b";
      grid-template-rows: min-content auto;
      // overflow-y: scroll;

      .header {
        grid-area: a;
      }

      .products-container {
        grid-area: b;
        overflow-y: overlay;
      }
    }
  }

  .cart {
    grid-area: b;
    transition: all 0.3s ease;

    &.open {
      transform: translateX(-100%);
    }
  }
}

@media screen and (min-width: 960px) {
  .App {
    grid-template-columns: auto 25rem;

    .content {
      .products {
        .header {
        }

        .products-container {
        }
      }
    }

    .cart {
    }
  }
}
