body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: auto 25rem;
  height: 100%;

  .content {
    overflow-y: scroll;
  }

  .cart {
    grid-area: "b";
  }
}
